<app-setting-card title="Answer options">
  <div
    fxFlex="100%"
    fxLayout="column"
    [formGroup]="formGroup"
  >
    <div
      fxFlex="100%"
      fxLayout="row"
      style="align-items: center"
      *ngFor="let id of ids"
      [formGroupName]="id"
    >
      <mat-checkbox
        style="margin-right: 0.5rem"
        color="primary"
        matTooltip="Mark as correct"
        matTooltipShowDelay="500"
        matTooltipPosition="left"
        formControlName="isCorrect"
      >
      </mat-checkbox>
      <mat-form-field fxFlex="100%">
        <input
          matInput
          formControlName="value"
          required
        />
        <mat-error>Answer option shouldn't be empty</mat-error>
      </mat-form-field>
    </div>
  </div>
</app-setting-card>
