<app-setting-card>
  <app-setting-card-title
    title="Question caption"
    checkErrors="forCurrentQuestion"
    path="question.caption"
  >
  </app-setting-card-title>
  <app-setting-card-content>
    <mat-form-field fxFlex="100%">
      <mat-label>Question</mat-label>
      <input
        matInput
        [formControl]="questionCaption"
      />
      <mat-error *ngIf="questionCaption.hasError('string.empty')">Question shouldn't be empty</mat-error>
    </mat-form-field>
  </app-setting-card-content>
</app-setting-card>
