<div
  class="loader-container"
  *ngIf="!quiz"
  @loader
>
  <div class="loader">
    <mat-card class="mat-elevation-z6">
      <mat-spinner diameter="60"></mat-spinner>
    </mat-card>
  </div>
</div>

<mat-toolbar
  color="primary"
  class="mat-elevation-z6"
  style="z-index: 10"
>
  <button
    type="button"
    mat-icon-button
  >
    <mat-icon>home</mat-icon>
  </button>
  <span>Edit {{ quiz?.info?.caption || '' }}</span>
</mat-toolbar>
<div
  fxLayout="row"
  style="height: 100%"
>
  <div [fxFlex]="(100 / 12) * 2 + '%'">
    <mat-card style="border-radius: 0">
      <mat-form-field fxFlex="100%">
        <mat-label>Quizee name</mat-label>
        <input
          matInput
          [value]="quiz?.info?.caption || ''"
          [formControl]="quizeeName"
          required
        />
        <mat-error>Quizee name shouldn't be empty</mat-error>
      </mat-form-field>
    </mat-card>
    <app-overview></app-overview>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
</div>
