<div
  class="loader-container"
  *ngIf="!(quizeeEditingService.get() | async)"
  @loader
>
  <div class="loader">
    <mat-card class="mat-elevation-z6">
      <mat-spinner diameter="60"></mat-spinner>
    </mat-card>
  </div>
</div>

<mat-toolbar
  color="primary"
  class="header mat-elevation-z6"
>
  <button
    type="button"
    mat-icon-button
  >
    <mat-icon>home</mat-icon>
  </button>
  <span>Edit {{ (quizeeEditingService.get() | async)?.info?.caption || '' }}</span>
</mat-toolbar>
<div class="editor-container">
  <div
    fxLayout="row"
    fxFlex
  >
    <div
      fxLayout="column"
      [fxFlex]="(100 / 12) * 2 + '%'"
    >
      <mat-card class="mat-elevation-z2 full-width-card">
        <mat-form-field fxFlex>
          <mat-label>Quizee name</mat-label>
          <input
            matInput
            [formControl]="quizeeName"
            required
          />
          <mat-error>Quizee name shouldn't be empty</mat-error>
        </mat-form-field>
      </mat-card>
      <app-overview
        fxFlex="grow"
        style="overflow-y: auto"
      ></app-overview>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
  </div>
</div>
