@use '@angular/material' as mat;

$mat-typography: mat.define-typography-config();

:host {
  align-self: center;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

.congratulations {
  @include mat.typography-level($mat-typography, 'display-2');
}

.subtitle {
  @include mat.typography-level($mat-typography, 'headline');
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
