<mat-toolbar
  color="primary"
  class="header mat-elevation-z6"
>
  <div
    class="content-container"
    flexLayout
    fxFlex="100%"
  >
    <span fxFlex="1 1 auto"></span>
    <div
      fxLayout
      fxLayoutAlign="center center"
    >
      <span>Quizee</span>
    </div>
    <span fxFlex="1 1 auto"></span>
  </div>
</mat-toolbar>
<div
  *ngIf="quizees.length; else falloff"
  class="content-container cards-container"
  @card-reveal
>
  <mat-card *ngFor="let quizee of quizees">
    <div
      class="img-container"
      #imgContainer
    >
      <img
        appClassWhenLoaded="loaded"
        [appApplyClassTo]="imgContainer"
        src="https://picsum.photos/300/150"
      />
    </div>
    <mat-card-title [title]="quizee.caption">{{ quizee.caption }}</mat-card-title>
    <mat-card-subtitle>Questions count: {{ quizee.questionsCount }} </mat-card-subtitle>
    <mat-card-content>
      <button
        mat-button
        style="width: 100%"
        color="primary"
        [routerLink]="['solve', quizee.id]"
      >
        Start test
      </button>
    </mat-card-content>
  </mat-card>

  <button
    @opacityTransition
    mat-fab
    class="editor-link"
    color="primary"
    routerLink="/edit"
  >
    <mat-icon>edit</mat-icon>
  </button>
</div>

<ng-template #falloff>
  <div
    @opacityTransition
    fxFlex
    fxLayout="column"
    class="falloff"
    *ngIf="manualRetryRequired; else loader"
  >
    <h1>Error</h1>
    <h2>Something went wrong while fetching</h2>
    <button
      mat-flat-button
      color="primary"
      (click)="fetchQuizees()"
    >
      Try again
    </button>
  </div>

  <ng-template #loader>
    <div
      @falloff
      class="falloff"
    >
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </ng-template>
</ng-template>
